.navbar{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 55px;
    box-shadow: 0 1px 3px -2px rgb(14, 12, 12);
    background: rgba(238, 232, 237, 0.464);
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p{
    color: black;
    font-size: 38px;
    font-weight: 600;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: rgb(60, 57, 55);
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: rgb(143, 15, 15);
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;

}
.nav-login-cart button{
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid rgb(33, 33, 32);
    border-radius: 75px;
    color: #0b0a0a;
    font-size: 20px;
    font-weight: 500;
    background: rgb(226, 160, 209);
    cursor: pointer;
}
.nav-login-cart button:active{
    background: #f3f3f3;
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}